<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.8
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
    reserved.
</footer>

<aside class="control-sidebar control-sidebar-dark">
    <!-- Search Form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Arama...">
            <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
            </button>
            </span>
        </div>
    </form>
    <!-- /.sidebar-form -->

    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fas fa-cogs"></i></a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="control-sidebar-home-tab">
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fas fa-language"></i>
        
                        <div class="menu-info">
                        <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
        
                        <p>Will be 23 on April 24th</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-pane" id="control-sidebar-settings-tab">

        </div>
    </div>
</aside>