<!doctype html>
<html>

<head>
    <% include ./partials/head.ejs %>
</head>

<body class="skin-red fixed sidebar-mini">
    <div class="wrapper">
        <% include ./partials/header.ejs %>

        <% include ./partials/sidebar.ejs %>

        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                Kullanıcı Ekle
                </h1>
                <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i>Anasayfa</a></li>
                <li class="active"><a href="/">Kullanıcı Ekle</a></li>
                </ol>
            </section>

            <div class="register-box">
                <div class="register-logo">
                    <a href="/">
                        <b>Oyun-Çeviri</b>
                    </a>
                </div>

                <div class="register-box-body">
                <p class="login-box-msg">Kullanıcı Kaydı</p>

                <div id="alertSuccess" class="alert alert-success hidden">
                    <strong>Başarılı!</strong> Kullanıcı Eklendi!
                </div>

                <div id="alertFailure" class="alert alert-danger hidden">
                    <strong>Hata!</strong> Kullanıcı eklenirken hata meydana geldi!
                </div>

                <form id="signupForm" enctype="multipart/form-data">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="İsim" name="name" id="inputSigName">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Soyisim" name="surname" id="inputSigSurname">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="Email" name="email" id="inputSigEmail">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Şifre" name="password" id="inputSigPass1">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Şifre Tekrar" id="inputSigPass2">
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <select name="userRole" class="form-control" id="inputSigRole">
                            <% if(user.local.userRole === 'Administrator'){ %>
                            <option value="Administrator">Administrator</option>
                            <% } %>
                            <option value="ProjectManager">Proje Yöneticisi</option>
                            <option value="Controller">Denetmen</option>
                            <option value="ProofReader">Düzeltmen</option>
                            <option value="Translator">Çevirmen</option>
                        </select>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button class="btn btn-primary btn-block btn-flat" id="signup-btn" type="button">Kaydet</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.form-box -->
        </div>
        <!-- /.register-box -->
    </div>
    <% include ./partials/footer.ejs %>
</div>
<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- Sparkline -->
<script src="bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- jvectormap  -->
<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS -->
<script src="bower_components/chart.js/Chart.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- iCheck -->
<script src="plugins/iCheck/icheck.min.js"></script>
<script src="dist/js/myJavaScript.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
    });
</script>
</body>

</html>