<!doctype html>
<html>
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
<div class="container">

    <% include ./partials/header.ejs %>

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Kullanıcı Kaydı</h1>

        <!-- REGISTER FORM -->
        <form action="/signup" method="post">
            <div class="form-group">
                <label>İsim</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>Soyisim</label>
                <input type="text" class="form-control" name="surname">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Şifre</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label>Yetki</label>
                <select>
                    <option value="isProjectManager">Proje Yöneticisi</option>
                    <option value="isController">Denetmen</option>
                    <option value="isProofReader">Düzeltmen</option>
                    <option value="isTranslator">Çevirmen</option>
                </select>
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Kaydol</button>
        </form>

        <hr>

    </div>

</div>
</body>
</html>